html {
    height: 100%;
}

body {
    font-family: "LibreBaskerville","Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
}

p {
    margin: 0.5em 0;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

a {
    display: block;
    color: black;
    font-size: 1.5rem; /* 1.5 */
}

a:hover {
    color: #d90368;
}

.grid {
    display: grid;
    height: 600px;
    width: 600px;
    padding: 0.2rem;
    background-color: #d90368;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "i1 i1 i2" "i4 i5 i2" "i4 i3 i3";
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 5px 14px 0 #e2def8;
}

.mat {
    margin: 0.25rem;
    overflow: hidden;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: white;
}

.mat a {
    margin-bottom: .25rem;
}

.mat-1 {
    grid-area: i1;
}

.mat-2 {
    grid-area: i2;
}

.mat-3 {
    grid-area: i3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mat-4 {
    grid-area: i4;
}

.mat-5 {
    grid-area: i5;
    padding: 0;
}

@media only screen and (max-width: 450px) {
    a {
        font-size: .8rem;
    }
    .grid {
        width: 320px;
        height: 320px;
        margin: 1em;
    }
    .mat {
        font-size: 1rem;
        padding: 0.5rem;
    }
    .icon-list p{
        display: none;
    }
    .icon-list svg{
        width: 25px;
        height: 25px;
    }
    h1 {
        font-size: 1.5rem;
    }
    .title{
        display: none;
    }
}

@font-face {
    font-family: King Basil;
    src: url("/static/font/King-Basil.41221e7e.ttf")
}

@font-face {
    font-family: LibreBaskerville;
    src: url("/static/font/LibreBaskerville-Regular.27b9efe7.ttf")
}

.Jump-sc-1hijyzp-0 :hover{
    animation: jump 0.3s forwards;
    transform-origin: center;
    transition: all ease;
}

@keyframes jump {
	20% {
		transform: rotate(-10deg);
	}

	50% {
		transform: scale(1.2) rotate(10deg);
	}

	80% {
		transform: scale(1.2) rotate(-10deg);
	}

	100% {
		transform: scale(1.2);
	}
}

.icon-list{
    display: inline-block;
    text-align: center;
}

.icon-list a{
    /* display: inline-block; */
    width: 18%;
    font-size: 14px;
    float: left;
    margin: 0.25rem;
}

.icon-list p{
    margin: 0;
}
